<div class="printSection">
    <div class="d-flex justify-content-between printHeader">
        <div class="logo">
            <img src="/assets/runanubandh-logo.jpg" alt="" srcset="">
        </div>
        <div class="titleSection">
            <h4>Runanubandh Talent Search Exam - RTS</h4>
            <h5>Exam Hall Ticket</h5>
        </div>
        <div class="scanner titleSection">
            <img src="/assets/runanubandh-scan-qr.jpg" alt="" srcset="">
        </div>
    </div>
    <hr>
    <div class="admitCardData row">
        <!-- First Row -->
        <div class="d-flex justify-content-between">
            <div>
                Student Name: XXX XXX XXXX
            </div>
            <div>
                Seat Number: XXX XXX XXX
            </div>
        </div>
        <!-- Second row  -->
        <div class="d-flex justify-content-between">
            <div>
                Medium: XXX XXX XXXX
            </div>
            <div>
                Center Name: XXX XXX XXX
            </div>
            <div>
                Center ID: XXX-XXX
            </div>
        </div>
        <!-- Third Row School info -->
        <div class="d-flex justify-content-between">
            <div>
                Standard: XXX XXX XXXX
            </div>
            <div>
                School Name: XXX XXX XXX
            </div>
            <div>
                School ID: XXX-XXX
            </div>
        </div>
        <!-- Half columns -->
        <div class="exam-details">
            <hr>
            <h5>Exam Date: Sunday, 4th Feb 2024</h5>
            <hr>
            <table class="table-bordered admit-card-table">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Paper 1
                        </td>
                        <td>
                            11:00AM to 12:30PM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Paper 2
                        </td>
                        <td>
                            1:00PM to 2:30PM
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between mt-2 p-2">
                <div>
                    President,<br>
                    Runanubandh Talent Search Exam
                </div>
                <div class="p-2 bg-info"><small>Signature</small></div>
            </div>
        </div>
        <div class="photo-section">
            <div class="p-3 mt-3 photoAffix">
                <span>Please affix your recent photo here</span>
            </div>
            <div class="sigAffix">
                <span>Signature</span>
            </div>
        </div>
    </div>
</div>
